<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedEasy</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="style2.css" rel="stylesheet">
</head>

<body>
  <div class="page-container">
    <nav class="nav">
      <div class="nav__border"></div>
      <a href="#" class="nav__link">
        <div class="nav__icon-container">
          <i class="material-icons"><h2>storefront</h2></i>
        </div>
        <span class="nav__label"><b><h2>MedEasy</h2></b></span>
      </a>
      <br>
      <br>

      <a href="medicines.html" class="nav__link">
        <div class="nav__icon-container">
          <i class="material-icons">medication</i>
        </div>
        <span class="nav__label">Medicines</span>
      </a>
      <a href="mombaby.html" class="nav__link">
        <div class="nav__icon-container">
          <i class="material-icons">dashboard</i>
        </div>
        <span class="nav__label">Mom & Baby care</span>
      </a>
      <a href="nutrition.html" class="nav__link">
        <div class="nav__icon-container">
          <i class="material-icons">healing</i>
        </div>
        <span class="nav__label">Nutrition Drinks</span>
      </a>
      <a href="store.html" class="nav__link">
        <div class="nav__icon-container">
          <i class="material-icons">store</i>
        </div>
        <span class="nav__label">Stores Nearby</span>
      </a>
      <a href="landing.html" class="nav__link">
        <div class="nav__icon-container">
          <i class="material-icons">power_settings_new</i>
        </div>
        <span class="nav__label">Log Out</span>
      </a>
    </nav>

    
    <main class="main">
    </main>
  </div>
  <script>
    // Navigation
    {
      const collapsedClass = "nav--collapsed";
      const lsKey = "navCollapsed";
      const nav = document.querySelector(".nav");
      const navBorder = nav.querySelector(".nav__border");
      if (localStorage.getItem(lsKey) === "true") {
        nav.classList.add(collapsedClass);
      }
      navBorder.addEventListener("click", () => {
        nav.classList.toggle(collapsedClass);
        localStorage.setItem(lsKey, nav.classList.contains(collapsedClass));
      });
    }
  </script>
</body>

</html>