<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MedEasy</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css">
    <link href="../css/styles.css?v=1.6" rel="stylesheet">
    <link href="../css/queries.css?v=1.6" rel="stylesheet">
    <link href="../css/jquery.fancybox.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    </head>
    <body>

      <section class="hero" id="hero">
        <div class="container">
          <div class="row">

          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="animated bounceInDown">
                <div style="background-color: #99c5c4; border-radius: 25px;" class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">MedEasy</h1>
                  <p class="animated fadeInUpDelay" style="font-weight: 600;"> Gives the opportunity to buy proper medicine sitting at home without any trouble and also bring comfort to every buyer and seller of medicine</p>
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="\login" class="get-started-btn" style="border-radius: 30px;">Login</a>
                    <a href="\signup" class="get-started-btn" style="border-radius: 30px;">Sign Up</a>
                   
                  </div>
                </div>
              </div></h1>
              </div>
          </div>

        </div>
      </section>
      
      <footer>
        <div class="container">
          <h3>
          <div class="row">

            <div class="col-md-4">
             
              <li id="details"><u>Social Media Handles</u></li>
                <li id="details">Facebook:@epharma</li>
                <li id="details">Twitter:@epharma</li>
                <li id="details">Instagram:@epharma</li> </div>
            <div class="col-md-2 col-md-offset-3">
              <ul class="footer-nav">
                <li id="details">Phone no: +91XXXXXXXXXX</li>
                <li id="details">Email id: epharma@gmail.com</li>
               
                <li id="details"><u>Address:</u></li>
                <li id="details">Yari Road, Jeet Nagar, Versova, Andheri (West), Mumbai 400061</li>
              </ul>
            </div>
          </div>
        
          </h3>
        </div>
      </footer>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="../js/jquery.fancybox.pack.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/scripts.js?v=1.7"></script>
      <script src="../js/jquery.flexslider.js"></script>
      <script src="../js/jquery.smooth-scroll.js"></script>
      <script src="../js/modernizr.js"></script>
      <script src="../js/waypoints.min.js"></script>
    </body>
  </html>
