<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedEasy</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css">
    <link href="../css/styles.css?v=1.6" rel="stylesheet">
    <link href="../css/queries.css?v=1.6" rel="stylesheet">
    <link href="../css/jquery.fancybox.css" rel="stylesheet">
  <link href="../style2.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


  <style>

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  img {
    float: center;
    width:  260px;
    height: 260px;
    object-fit: cover;
}

  .card{
    padding: 30px;
    margin-left: 30px;
    border-radius: 8px;
    margin-bottom: 10px;

  }


  </style>
</head>

<body>

  <section>
    <div class="topnav" style=" padding-top: 15px; padding-bottom:15px; background-color:lightcyan">
      <a class="active" href="/medicines" style="margin: 20px;">Medicines</a>
      <a href="/mombaby" style="margin: 20px;">Mom & Baby Care</a>
      <a href="/nutrition" style="margin: 20px;">Nutrition</a>
      <a href="/" style="margin: 20px;">Logout</a>
    </div>
    
  </section>

  <div class="page-container">  

  <section>
    
    <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border-radius: 3%; text-align: center; background-color:teal; padding: 30px; margin: 10px; color: white;">
      Medicines
    </h1>
    <p style="border-radius: 10%; text-align: center; padding: 10px; font-style: italic; font-size:16px;">
      People can view the details of the medicine that are available in this online shop without signing-in to the account. Customer has to sign up and then sign in to this website for buying the medicine from this online shop.
      Medicines can be exchanged, if the medicines are bought from this shop are intact. Customer can buy more than one products at a time.

    </p>
    <div class="row">
    <div class="card bg-info">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVqp6oCiYY664oQh4PfDC3XZxcbY7J_dc5kZY2vEQrzJFjw1fQOTBdCcZdujAGNvGAM88&usqp=CAU" alt="Scam 1992">
      <div class="card-body">

        <p class="card-text">Everherb Tulsi- Immunity Booster Capsules</p>
        <p class="card-text">Price - 200rs</p>
        <a href="#" class="btn btn-warning">Buy Now</a>

      </div>
    </div>
    <div class="card bg-info">
      <img class="card-img-top" src="https://img.freepik.com/free-psd/medicine-bottle-mockup_358694-803.jpg?size=626&ext=jpg" alt="Scam 1992">
      <div class="card-body">

        <p class="card-text">Everherb Giloy (guduchi) 500mg </p>
        <p class="card-text">Price - 200rs</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
      </div>
    </div>
    <div class="card bg-info">
      <img class="card-img-top" src="https://www.psdmockups.com/wp-content/uploads/2018/09/Pharmaceutical-Bottle-Childrens-Cough-Medicin-PSD-Mockup.jpg" alt="Scam 1992">
      <div class="card-body">

        <p class="card-text">Seacod 110 Cod Liver Oil</p>
        <p class="card-text">Price - 200rs</p>
        <!-- <p class="card-text">Bottle of 60</p> -->
        <a href="#" class="btn btn-warning">Buy Now</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card bg-info">
      <img class="card-img-top" src="https://www.pacagemockup.com/wp-content/uploads/2021/01/Free-Pills-Jar-Mockup-PSD-758x569.jpg" alt="Scam 1992">
      <div class="card-body">

        <p class="card-text">Kofol Gargle Throat Relief Syrup</p>
        <!-- <p class="card-text">Bottle of 100ml</p> -->
        <p class="card-text">Price - 430rs</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
      </div>
    </div>
    <div class="card bg-info">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrLWIGXrPi7-S_oUHn1vQbLr0ONveeayArvQZ-VO_nGyZ_b18cPHODxHz_rYWxkihj9CA&usqp=CAU" alt="Scam 1992">
      <div class="card-body">

        <p class="card-text">Depura 60k Nano Drops Sugar Free</p>
        <!-- <p class="card-text">Bottle of 50 drops </p> -->
        <p class="card-text">Price - 1200rs</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
      </div>
    </div>
    <div class="card bg-info">
      <img class="card-img-top" src="https://www.psdmockups.com/wp-content/uploads/2017/09/Eye-Dropper-Medicine-Bottle-Box-PSD-Mockup.jpg" alt="Scam 1992">
      <div class="card-body">

        <p class="card-text">Becozym C Forte- Strip Of 15 Tablets</p>
      
        <p class="card-text">Price - 100rs</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
      </div>
    </div>
  </div>
  </section>
    
        


  </div>


  <!-- ============================================================== -->
  <script>
    // Navigation
    {
      const collapsedClass = "nav--collapsed";
      const lsKey = "navCollapsed";
      const nav = document.querySelector(".nav");
      const navBorder = nav.querySelector(".nav__border");
      if (localStorage.getItem(lsKey) === "true") {
        nav.classList.add(collapsedClass);
      }
      navBorder.addEventListener("click", () => {
        nav.classList.toggle(collapsedClass);
        localStorage.setItem(lsKey, nav.classList.contains(collapsedClass));
      });
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>