<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedEasy</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/flexslider.css" type="text/css">
    <link href="../css/styles.css?v=1.6" rel="stylesheet">
    <link href="../css/queries.css?v=1.6" rel="stylesheet">
    <link href="../css/jquery.fancybox.css" rel="stylesheet">
  <link href="../style2.css" rel="stylesheet">


  <style>

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  img {
    float: center;
    width:  260px;
    height: 260px;
    object-fit: cover;
}

  .card{
    padding: 30px;
    margin-left: 30px;
    border-radius: 8px;
    margin-bottom: 10px;

  }

  </style>
</head>

<body>
  <section>
    <div class="topnav" style=" padding-top: 15px; padding-bottom:15px; background-color:lightcyan">
      <a class="active" href="/medicines" style="margin: 20px;">Medicines</a>
      <a href="/mombaby" style="margin: 20px;">Mom & Baby Care</a>
      <a href="/nutrition" style="margin: 20px;">Nutrition</a>
      <a href="/" style="margin: 20px;">Logout</a>
    </div>
    
  </section>

  <div class="page-container">

<section>
  
  <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border-radius: 3%; text-align: center; background-color:teal; padding: 30px; margin: 10px; color: white;">
    Nutrition Drinks
  </h1>
  <p style="border-radius: 10%; text-align: center; padding: 10px; font-style: italic; font-size:16px;">
    People can view the details of the medicine that are available in this online shop without signing-in to the account. Customer has to sign up and then sign in to this website for buying the medicine from this online shop.
    Medicines can be exchanged, if the medicines are bought from this shop are intact. Customer can buy more than one products at a time.

  </p>
  <div class="row">
  <div class="card bg-info">
    <img class="card-img-top" src="https://www.foodbusinessnews.net/ext/resources/FBN-Features/5/Protein2O_Lead.jpg?1526481680" alt="Scam 1992">
    <div class="card-body">

      <p class="card-text">Protein Shake- Immunity Booster </p>
      <p class="card-text">Price - 1200rs</p>
      <a href="#" class="btn btn-warning">Buy Now</a>

    </div>
  </div>
  <div class="card bg-info">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDv-AUtj4o7o1AaSzz_07zEOHUWDPCfORlLQ&usqp=CAU" alt="Scam 1992">
    <div class="card-body">

      <p class="card-text">Organic Fruit Pulp </p>
      <p class="card-text">Price -600rs</p>
      <a href="#" class="btn btn-warning">Buy Now</a>
    </div>
  </div>
  <div class="card bg-info">
    <img class="card-img-top" src="https://m.media-amazon.com/images/I/61MWEkz4mlS._SL1300_.jpg" alt="Scam 1992">
    <div class="card-body">

      <p class="card-text">Ensure Women Drink</p>
      <p class="card-text">Price - 3000rs</p>
      <!-- <p class="card-text">Bottle of 60</p> -->
      <a href="#" class="btn btn-warning">Buy Now</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="card bg-info">
    <img class="card-img-top" src="https://s.alicdn.com/@sc04/kf/ULB80VDGMODEXKJk43Oqq6Az3XXa6.jpg_300x300.jpg" alt="Scam 1992">
    <div class="card-body">

      <p class="card-text">Ritai Coco Water </p>
      <!-- <p class="card-text">Bottle of 100ml</p> -->
      <p class="card-text">Price - 400rs</p>
      <a href="#" class="btn btn-warning">Buy Now</a>
    </div>
  </div>
  <div class="card bg-info">
    <img class="card-img-top" src="https://m.media-amazon.com/images/I/61MWEkz4mlS._SL1300_.jpg" alt="Scam 1992">
    <div class="card-body">

      <p class="card-text">Protein Choco Shake</p>
      <!-- <p class="card-text">Bottle of 50 drops </p> -->
      <p class="card-text">Price - 1200rs</p>
      <a href="#" class="btn btn-warning">Buy Now</a>
    </div>
  </div>
  <div class="card bg-info">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5IY619uvlqKD4EUAgPYklR5UDsRDJb3u_7PkNq6qr8waXWTFMIN7M2y8hKnTuZ0Qgo5Q&usqp=CAU" alt="Scam 1992">
    <div class="card-body">

      <p class="card-text">Becozym C Forte-</p>
    
      <p class="card-text">Price - 100rs</p>
      <a href="#" class="btn btn-warning">Buy Now</a>
    </div>
  </div>
</div>
</section>
   
      


  </div>


  <!-- ============================================================== -->
  <script>
    // Navigation
    {
      const collapsedClass = "nav--collapsed";
      const lsKey = "navCollapsed";
      const nav = document.querySelector(".nav");
      const navBorder = nav.querySelector(".nav__border");
      if (localStorage.getItem(lsKey) === "true") {
        nav.classList.add(collapsedClass);
      }
      navBorder.addEventListener("click", () => {
        nav.classList.toggle(collapsedClass);
        localStorage.setItem(lsKey, nav.classList.contains(collapsedClass));
      });
    }
  </script>
</body>

</html>